* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #c8102e;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 50px;
}

ul {
    list-style-type: none;
    display: flex;
}

ul li {
    margin: 0 15px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

main.first {
    text-align: center;
    padding: 40px 2px;
    background-image: url('https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png');
    background-size: cover;
    background-position: center;
    color: white;
    min-height: calc(60vh - 70px);
}


main.first p {
    margin-top: 25px;
    font-size: 30px;
    margin-bottom: 35px;
}

.location-input {
    width: 250px;
    font-size: 15px;
    padding: 12px;
}

.search-input {
    width: 400px;
    font-size: 15px;
    padding: 12px;
}  

main.second {
    text-align: center;
    padding: 20px 2px;
    background-color: white;
}

main.second .image-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    flex-wrap: wrap;
}

.image-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: calc(32% - 20px);
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
}

.image-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.image-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.caption {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #333;
}

.image-item p {
    color: #555;
    margin: 0 0 10px;
}

footer {
    background-color: #c8102e;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}